<h1><%= @post.title %></h1>
<h2><%= @post.body %></h2>

<form method="POST" action="/comment/<%= @post.id %>">
  <textarea name="comment" placeholder="Comment" rows="20" cols = "30"></textarea>
  <button type="submit">Comment</button>
</form>

<% @post.comments.each do |comment| %>
  <li><%= comment.comment %></li>
<% end %>
